<div class="container">
  <h2>Pros</h2>
  <mat-list>
    <mat-list-item>Basado en <a target="_blank" href="https://d3js.org/">D3</a></mat-list-item>
    <mat-list-item>Usa SVG -> 100% escalable carga rápida</mat-list-item>
    <mat-list-item>Estéticamente cuidado</mat-list-item>
    <mat-list-item>Permite personalizar presencia y posicion de etiquetas</mat-list-item>
    <mat-list-item>100% responsive</mat-list-item>
    <mat-list-item>Algunas opciones de interactividad</mat-list-item>
    <mat-list-item>Lógica separada de la capa de presentación</mat-list-item>
    <mat-list-item>Adaptado a Angular</mat-list-item>
    <mat-list-item>Actualizado frecuentemente (Angular 6 ready)</mat-list-item>
  </mat-list>
</div>
