<div class="container">
  <h2>Why?</h2>
  <mat-list>
    <mat-list-item>Por naturaleza, entendemos, asimilamos y recordamos más con recursos visuales</mat-list-item>
    <mat-list-item>Usados con sentido, los gráficos mejoran la usabilidad</mat-list-item>
    <mat-list-item>Aumento de la satisfacción del usuario</mat-list-item>
  </mat-list>
  <img src="assets/img/magic.gif" alt="">
  <mat-divider></mat-divider>
  <a target="_blank" href="http://www.evolutionoftheweb.com/">The evolution of the web</a>
</div>
