<div class="container">
  <h2>Some of them...</h2>
  <a href="http://krispo.github.io/angular-nvd3/#/" target="_blank">
    ng2-nvd3 - Open-source wrapper for nvd3 using Angular2 Components
  </a>
  ​<a href="https://valor-software.com/ng2-charts/" target="_blank">
  ng2-charts - Open-source Angular2 wrapper directives for Chart.js
</a>
  ​<a href="https://www.highcharts.com/demo" target="_blank">Highcharts</a>
  ​<a href="http://c3js.org/" target="_blank">c3 charts</a>
  ​<a href="https://github.com/d3/d3/wiki/Gallery" target="_blank">d3 charts</a>
</div>
